<div class="max-w-xl bg-white shadow-md rounded px-8 pt-6 pb-8 mt-8 mb-4 mx-auto">

<p class="text-center text-gray-700 text-lg font-bold mb-6">MON PROFIL</p>

<p class="text-center text-gray-700 text-lg mb-6"><%= @user.email %></p>

<div class="flex justify-center">
<%= link_to "Modifier", edit_user_registration_path, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 mr-1 rounded focus:outline-none focus:shadow-outline" %>
<%= link_to "Retour", :back, class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 ml-1 rounded focus:outline-none focus:shadow-outline" %>
</div>

</div>

<p class="text-center text-gray-500 text-xs">&copy;2020 Metis Lab. All rights reserved.</p>