<div style="text-align: center;">
  <h2>Bonjour, <%= @resource.email %> !</h2>
  <h3>Une demande de changement de votre mot de passe nous a été envoyéé. Confirmez via le lien ci-dessous :</h3>
  <p><%= link_to 'MODIFIER MON MOT DE PASSE', edit_password_url(@resource, reset_password_token: @token), style:"padding: 10px 25px; display: inline-block; border-radius: 5px;	background: #38A169; color: #ffffff;", class:"btn btn-primary" %></p>
  <p>Si ce n'est pas vous, vous pouvez ignorer cet email.</p>
</div>