<div style="text-align: center;">
  <h2>Bonjour, <%= @resource.email %> !</h2>
  <h3>Votre compte a été bloque en raison d'un nombre excessif de tentatives de connexion ratées.</h3>
  <h3>Cliquez ci-dessous pour régler le problème :</h3>
  <p><%= link_to 'DÉBLOQUER MON COMPTE', unlock_url(@resource, unlock_token: @token), style:"padding: 10px 25px; display: inline-block; border-radius: 5px;	background: #38A169; color: #ffffff;", class:"btn btn-primary" %></p>
  <p>Si ce n'est pas vous, vous pouvez ignorer cet email.</p>
</div>
