<h1>Coins#index</h1>
<p>Find me in app/views/coins/index.html.erb</p>
<canvas id="line-chart" width="100vw" height="100vh"></canvas>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [<% 10.times do
        print "#{rand(1000)},"
        end %>],
        label: "Kraken",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Binance",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [168,170,178,190,203,276,408,547,675,734],
        label: "Coinbase",
        borderColor: "#3cba9f",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'BITCOIN'
    }
  }
});
</script>
