<h1>Coins#show</h1>
<p>Find me in app/views/coins/show.html.erb</p>
<div class="chart-container relative w-2/4 h-1/12 rounded-lg p-5 bg-gray-100">
<canvas id="mixed-chart"></canvas>
</div>

<script src="app/assets/javascripts/mixed_chart.js"></script>